body {
    background-color:#F0F8FF;
    color: #000080;
    font-family:'Courier New', Courier, monospace;
    font-weight:bold;
    margin: 0 auto;
    overflow-x: hidden;
}
footer, header {
background-color: #000080;
color:#F0F8FF;
height:min-content;
text-align: center;
padding: 1%;
}
a:link, a:visited {
    color:#F0F8FF;
    text-decoration: none;
}
#description, #descriptionHeader, #processHeader, #processText {
    max-width: 70ch;
    padding-left: 1%;
}

#photoHeader {
    text-align: center;
}
#navMenu, .menuBtn {
    display: none;
}
.photos {
    padding: 2%;
}
.headerImg {
    width: 100%;
}
#headMenu {
    list-style-type: none;
    margin: 1%;
    font-size: 100%;
    word-spacing: 0.1em;
}
#headMenu>li {
    display: inline-block;
    padding: 1%;
}
.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 2%;
}
.flexContainer1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media screen and (max-width: 1024px) {
    #headMenu {
        display: none;
    }
    .menuBtn {
        display: flex;
        align-items: center;
        padding: 8px 15px;
        background-color: #000080;
        border:#F0F8FF ridge;
        color:#F0F8FF;
        font-family: 'Courier New', Courier, monospace;
    }

    .open {
        position: absolute;
        top: 7%;
        right: 5%;
    }

    .close {
        position: absolute;
        top: 30%;
        right: 23%;
    }

    .bars {
        display: block;
        width: 20px;
        height: 3px;
        background-color:#F0F8FF;
        margin: 5px 3px;
    }

    .cross1 {
        width: 20px;
        transform: rotate(45deg);
        position: relative;
        top: 5px;
    }

    .cross2 {
        width: 20px;
        transform: rotate(135deg);
        position: relative;
        top: -3px;
    }

    #navMenu {
        background-color:#000080;
        position: absolute;
        right: 0;
        top: 0;
        height: 105vh;
        width: 150px;
        display: none;
    }

    #navMenu ul {
        list-style-type: none;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        font-size: 1em;
        text-align: left;
    }

    #navMenu li {
        padding: 0.8em;
        width: 100%;
    }
}